wheel
asab==20.7.28  # has latest version, instead of `asab`
mongoengine
aiohttp_jwt
aiohttp_middlewares
aiohttp_route_decorator
werkzeug
simplejson
redis
motor
imagezmq
requests
matplotlib
scipy
seaborn
window-slider
suds-py3
kubernetes
tqdm==4.42.0
torch==1.4.0
torchvision==0.5.0
imutils
aiounittest
nose2
python-dotenv==0.18.0
