wheel
asab
mongoengine
aiohttp_jwt
aiohttp_middlewares
aiohttp_route_decorator
werkzeug
simplejson
redis
motor
imagezmq
requests
matplotlib
scipy
seaborn
requests
window-slider
aiortc
suds-py3  # it has been added in the `core-docker-images`; in case it was not re-deployed, this will do the installation